.navbar {
    background-color: #2E8B57; /* Темнозелена */
}

.navbar-brand {
    color: #fff !important;
    display: flex;
    align-items: center;
}

.navbar-brand .logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.navbar-nav .nav-item .nav-link {
    display: flex; 
    align-items: center; 
    padding-top: 8px; 
    padding-bottom: 8px; 
    color: white; 
}

.nav-link:hover {
    color: #A9DFBF !important; /* Світлішого зеленого кольору */
}

.navbar-nav {
    display: flex; 
    align-items: center; 
}

.lamp-item {
    margin-bottom: 30px;
}

.card {
    background-color: #f8f9fa;
    border: 1px solid #2E8B57; /* Темнозелена */
    box-shadow: 0 0 20px rgba(46, 139, 87, 0.5); /* Неонова підсвітка */
    transition: transform 0.3s;
    height: 100%; 
    display: flex;
    flex-direction: column;
}

.card:hover {
    transform: scale(1.05);
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn-primary {
    align-self: flex-end;
}

.carousel-inner img {
    max-width: 100%;
    max-height: 500px; 
    object-fit: contain;
    margin: auto; 
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); /* Напівпрозорий чорний фон */
    color: #fff; /* Білий текст */
    padding: 20px;
    bottom: 0;
    left: 0;
    width: 100%;
}

.carousel-item {
    text-align: center;
}

.carousel-control-prev,
.carousel-control-next {
    width: auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 30px;
    height: 30px;
    filter: invert(1); 
}

.carousel-indicators li {
    background-color: white; 
    border: none; 
    width: 10px; 
    height: 10px;
    margin: 0 5px; 
    border-radius: 50%;
}

.carousel-control-prev,
.carousel-control-next {
    border: none;
}

.footer {
    background-color: #2E8B57; /* Темнозелена */
    padding: 20px 0;
    text-align: center;
    color: #fff;
}

.arcade-game {
    margin-top: 50px;
    text-align: center;
}

.arcade-game canvas {
    background-color: #000;
}

.alert {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1050;
}

.about {
    border: 2px solid black;
    padding: 10px;
    margin: 20px;
}

#feedback-form {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

#feedback-form input[type="text"],
#feedback-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#feedback-form textarea {
    height: 150px;
}

#feedback-form button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#feedback-form button:hover {
    background-color: #45a049;
}

#thank-you-message {
    display: none;
    color: green;
    margin-top: 10px;
}

#cart-button {
    background-color: #ffffff; 
    border: none; 
    display: flex; 
    align-items: center; 
    padding: 5px; 
    position: relative; 
    margin-top: -5px; 
}

#cart-button .cart-icon {
    width: 32px; 
    height: 32px; 
    display: block; 
}

#lamp-list h3 {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(6, 100px);
    grid-template-rows: repeat(6, 100px);
    gap: 5px;
    justify-content: center;
}
.cell {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}
.active {
    background-color: white;
}
.info {
    margin-top: 20px;
    text-align: center;
    font-size: 24px;
}
